.education-container {
  margin-left: 15vh;
  padding-top: 15vh;
  height: 93vh;

  h2::after {
    content: '';
    border-bottom: 4px solid #64b5f6;
    width: 105px;
    display: block;
  }
}
.education-wrapper {
  display: flex;
  margin-bottom: 20px;
  .date-wrapper {
    margin-right: 50px;
  }
}

.education-info-wrapper {
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
