.project-container {
  height: 93vh;

  padding-top: 10vh;
  margin-left: 15vh;
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.project-wrapper {
  margin-bottom: 100px;
  .project-description-wrapper {
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    i {
      margin-top: 30px;
      font-size: 50px;
      margin-bottom: 30px;
      margin-right: 20px;
    }
    ul {
      margin-top: 20px;
    }
    li {
      margin-bottom: 15px;
    }
  }
}
