.project-container {
  height: 93vh;
  margin-top: 30vh;
  padding-top: 5vh;
  margin: 0 auto;
  h2 {
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 20px;
  }
}
.project-wrapper {
  padding-bottom: 100px;
  .project-description-wrapper {
    padding-left: 40px;
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    i {
      margin-top: 30px;
      font-size: 50px;
      margin-bottom: 30px;
      margin-right: 20px;
    }
    ul {
      margin-top: 20px;
    }
    li {
      padding-bottom: 15px;
    }
  }
}
