.skills-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15vh;
  h2 {
    font-size: 50px;
    padding-bottom: 10px;
  }
  h2::after {
    content: '';
    border-bottom: 4px solid #64b5f6;
    width: 105px;
    display: block;
  }

  h3 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  img {
    width: 140px;
    height: 140px;
    margin-right: 20px;
  }

  .skills-wrapper {
    margin-bottom: 20px;
  }
  // .skills-wrapper {
  //   padding-bottom: 20px;
  // }
}
