.main-text-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 70px;
    letter-spacing: -2px;
    padding-bottom: 18px;
  }
  h3 {
    line-height: 30px;
  }

  .social-icon-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    i {
      font-size: 50px;
      padding-left: 30px;
    }
  }

  .email-wrapper {
    display: flex;
    align-items: center;
  }

  p {
    margin-left: 10px;
  }
}
